<html>

<head>
    <title>Resume Builder
    </title>
    <%include ../partials/headsingup %>


</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <iframe src="/home/Documents/resume_buider/resumetemplate">
        <p>Your browser does not support iframes.</p>
    </iframe>




</body>

</html>