<html>

<head>
    <title>Resume Builder
    </title>
    <%include ../partials/head %>


</head>


<body>

    <center>
        <%= data1.username %>
        <%= data1.user_email %>

    </center>

    <header>
        <% include ../partials/header %>
    </header>

</body>

</html>