<html>

<head>
    <title>Resume Builder
    </title>
    <%include ../partials/headsingup %>


</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <% include ../partials/form-f%>

</body>

</html>