<html>

<head>
    <title>Resume Builder
    </title>
    <%include ../partials/head %>


</head>

<body>
    <p>
        <center>
            <%= error%>
        </center>
    </p>
    <header>
        <% include ../partials/header %>
    </header>

    <% include ../partials/login-f%>

</body>

</html>