<html>

<head>
    <title>Resume Builder
    </title>
    <%include ../partials/headsingup %>

</head>
<center>
    <%= error%>
</center>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <% include ../partials/signup-f%>
</body>

</html>